extends ./layout/layout.pug

block content
    .container.news-content 
        .row
            .col-12.mt-3
                .notFound.p-3
                    .errorPage 
                        .errorPageTable
                            .errorPageTableCell
                                h1 404
                                p Aradığınız sayfa bulunumadı...
