mixin news-card
    .container.d-none.d-sm-block 
        .row
            .col-12.col-sm-6.col-md-3
                .home-news-card.mt-3.br-3
                    a(href="./detay.html")
                        .row
                            .col-7.col-sm-12
                                .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=2" alt="Kardeş ülkeye Türk dokunuşu! Hedef: Modern ve profesyonel bir ordu")
                            .col-5.col-sm-12.d-flex.align-items-center
                                span.news-card-title: h6.m-3 Kardeş ülkeye Türk dokunuşu! Hedef: Modern ve profesyonel bir ordu Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima consequatur laborum iste excepturi

            .col-12.col-sm-6.col-md-3
                .home-news-card.mt-3.br-3
                    a(href="./detay.html")
                        .row
                            .col-7.col-sm-12
                                .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=3" alt="Kardeş ülkeye Türk dokunuşu! Hedef: Modern ve profesyonel bir ordu")
                            .col-5.col-sm-12.d-flex.align-items-center
                                span.news-card-title: h6.m-3 Başkan Erdoğan'la görüşme sonrası geri adım attılar! Suudi Arabistan Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima consequatur laborum iste excepturi

            .col-12.col-sm-6.col-md-3
                .home-news-card.mt-3.br-3
                    a(href="./detay.html")
                        .row
                            .col-7.col-sm-12
                                .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=4" alt="Kardeş ülkeye Türk dokunuşu! Hedef: Modern ve profesyonel bir ordu")
                            .col-5.col-sm-12.d-flex.align-items-center
                                span.news-card-title: h6.m-3 Macron: Görüntüleri izleyince şoke oldum Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima consequatur laborum iste excepturi

            .col-12.col-sm-6.col-md-3
                .home-news-card.mt-3.br-3
                    a(href="./detay.html")
                        .row
                            .col-7.col-sm-12
                                .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=5" alt="Kardeş ülkeye Türk dokunuşu! Hedef: Modern ve profesyonel bir ordu")
                            .col-5.col-sm-12.d-flex.align-items-center
                                span.news-card-title: h6.m-3 Cumhurbaşkanı Erdoğan: Önümüzdeki en büyük proje Kanal İstanbul'dur Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima consequatur laborum iste excepturi

.infinite-item(data-id="1145344" data-nextid="1145319" data-pageurl="./detail.html")
    .container.news-content 
        .row
            .col-12.col-lg-8.col-xl-9.mt-3.pe-lg-0
                .news-detail.p-3
                    nav.breadcrumb-nav(aria-label="breadcrumb").mb-2
                        ol.breadcrumb
                            li.breadcrumb-item: a(href="#") Anasayfa
                            li.breadcrumb-item: a(href="#") Spor
                            li.breadcrumb-item.active: a(href="#") Galatasaray'dan Cristiano Ronaldo için resmi açıklama! Taraftarların gözü bu haberde

                    h1.news-title.ps-1.ps-sm-2 Galatasaray'dan Cristiano Ronaldo için resmi açıklama! Taraftarların gözü bu haberde
                    .d-flex.justify-content-between.align-items-center.mb-3
                        span.news-time.ps-1.ps-sm-2 Güncelleme Tarihi:
                            time(datetime="2022-10-07T19:40:48+03:00") Ekim 07, 2022 19:40
                        .news-detail-share.d-flex.flex-row.align-items-center
                            a(href="#"): i.icon.icon-facebook.ms-2
                            a(href="#"): i.icon.icon-twitter.ms-2
                    .wrap-img
                        img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=6" alt="Cristiano Ronaldo, kulüp kariyerinde 700. golünü attı")
                    .d-flex.justify-content-end
                        a.d-flex.align-items-center.my-1(href="https://news.google.com/publications/CAAqBwgKMPz2jwsw9sqjAw?hl=tr&amp;gl=TR&amp;ceid=TR%3Atr" target="_blank")
                            img(src="https://www.gunes.com/images/google-news-logo.svg" height="28")
                            .subs-google-btn.text-center ABONE OL

                    .news-detail-descp.px-1.px-sm-3
                        h2 Galatasaray İkinci Başkanı Metin Öztürk, Cristiano Ronaldo iddiaları hakkında konuştu. Sarı kırmızılı taraftarların transferi için hayal kurduğu Cristiano Ronaldo için resmi ağızdan açıklama geldi.

                        p Galatasaray İkinci Başkanı Metin Öztürk sponsorluk anlaşmasında açıklamalarda bulundu.Takımın durumu hakkında konuşan Metin Öztürk, sene sonunda Cumhuriyet'in 100. yılında şampiyon olacaklarını söyledi. Öztürk ayrıca son dönemde adı Galatasaray'la anılan dünyaca ünlü yıldız Cristiano Ronaldo ile ilgili de konuştu.
                        .news-img
                            .wrap-img.mb-3  
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=7" alt="Cristiano Ronaldo, kulüp kariyerinde 700. golünü attı")
                        h5 Maçı 29. dakikasında Anthony Martial'ın sakatlığı sonrası oyuna giren Ronaldo, 44. dakikada attığı gol ile kulüp kariyerinde 700. golünü kaydetti.
                        p İmkan ve hikayenin buluşması lazım. Şu an Okan Buruk hocamızın yönetiminde takımımız gayet ivme aldı gidiyor. Biz eski dönemlerden hatırlarız, gelen stardır ama o bölgenin ihtiyacımıdır değil midir? Olmadığı zaman sıkıntı yaşanmıştır. Nasılsa bu senenin gündeminde yok ama hep gündemden düşmeyecek olan şey Galatasaray, Türkiye'yi dünyada temsil eden en önemli markalardan birisidir."
                        .news-img
                            .wrap-img.mb-3  
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=8" alt="Cristiano Ronaldo, kulüp kariyerinde 700. golünü attı")
                        p "Sportif A.Ş.'de yönetim kurulu başkan yardımcımız da söylemişti, Dursun başkanım da söylüyor. En önce Cumhuriyetimizin 100. yılında tüm branşlarda olduğu gibi futbolda da ipi göğüslemek ondan sonra da Avrupa'da bunu devam ettirmek. Şu an yapılan tüm projeler bu çerçevede gidiyor."
                        h5 CRİSTİANO RONALDO AÇIKLAMASI
                        p "Galatasaray'da biz Cristiano Ronaldo'yu konuşmaktan çok önce sistemi, projeyi ve planlı olmayı konuşmalıyız. Şu an görüyorsunuz ki geçen senenin bütçesine biz dünya yıldızlarını kadromuza kattık. Önemli olan bunlardan yüksek verim almak. Ronaldo bu sene gündemimizde yok ancak Galatasaray Türkiye'yi Avrupa'da temsil eden bir kulüptür."
                        p "Yeni bir yönetimiz. Geldiğimiz zaman bir planlama yoktu. Bundan önceki teknik heyet bize dosya dahil hiçbir şey bırakmamıştı. Kısa sürede bu transferler yapıldı. Çoğu daha 3. veya 4. haftada oynamaya başladı. Beklentilerimizin yüksek olduğu Mata ve Icardi var. Daha sahada yoklar. Yeni yeni süre almaya başlayacaklar. Amaç seyir zevki yüksek maçlar izletip sonunda şampiyon olmaksa Galatasaray, Okan Buruk hocamızın liderliğinde bu sene bunu gerçekleştirecek."
                    hr
                    .tags.d-flex.align-items-center
                        div
                            span Etiketler:
                        div
                            a(href="#"): span.badge.rounded-pill.bg-secondary.m-1 GOODİSON PARK STADI
                            a(href="#"): span.badge.rounded-pill.bg-secondary.m-1 ANTHONY MARTİAL
                            a(href="#"): span.badge.rounded-pill.bg-secondary.m-1 MANCHESTER UNİTED
             
            .col-4.col-xl-3.d-none.d-lg-block
                .news-side-wrapper
                    .news-side
                        a(href="./detail.html"): .news-side-block.mt-3
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=9" alt="Kur Korumalı TL Vadeli Mevduat Hesabı")
                            span: h6.m-3.mb-2 Kur Korumalı TL Vadeli Mevduat Hesabı


                        .news-side-block.mt-3.p-2
                            h6.text-center - Popüler Haberler -
                            hr.my-2
                            a(href="./detail.html"): .side-group-item.d-flex.align-items-center
                                .side-mini-img
                                    .wrap-img 
                                        img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=10" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                                h6.ps-2.pe-1 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı
                            hr.my-2
                            a(href="./detail.html"): .side-group-item.d-flex.align-items-center
                                .side-mini-img
                                    .wrap-img 
                                        img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=11" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                                h6.ps-2.pe-1 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı
                            hr.my-2
                            a(href="./detail.html"): .side-group-item.d-flex.align-items-center
                                .side-mini-img
                                    .wrap-img 
                                        img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=12" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                                h6.ps-2.pe-1 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı
                            hr.my-2
                            a(href="./detail.html"): .side-group-item.d-flex.align-items-center
                                .side-mini-img
                                    .wrap-img 
                                        img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=13" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                                h6.ps-2.pe-1 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı
                            hr.my-2
                            a(href="./detail.html"): .side-group-item.d-flex.align-items-center
                                .side-mini-img
                                    .wrap-img 
                                        img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=14" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                                h6.ps-2.pe-1 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı

                        a(href="./detail.html"): .news-side-block.mt-3
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=15" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                            span: h6.m-3.mb-2 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı
                        a(href="./detail.html"): .news-side-block.mt-3
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=16" alt="Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı")
                            span: h6.m-3.mb-2 Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı

    +news-card
script. 
    setTimeout(function(){$(window).trigger('resize');},50);
    $('[data-nextid]').attr('data-nextid',Math.random());