extends ./layout/layout.pug

block content
    .container.news-content 
        .row
            .col-12.col-lg-8.col-xl-9.mt-3.pe-lg-0
                .news-detail.p-3
                    nav.breadcrumb-nav(aria-label="breadcrumb").mb-2
                        ol.breadcrumb
                            li.breadcrumb-item: a(href="#") Anasayfa
                            li.breadcrumb-item.active: a(href="#") Arama Sonuçları

                    hr.mt-1.mb-3
                    h1.news-title.ps-1.ps-sm-2 Arama Sonuçları

                    .row
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=11" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=11" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=12" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=13" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=14" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=16" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=17" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=18" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=19" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=20" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=21" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=22" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=2" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=3" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=4" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!
                        .col-12.col-sm-6.col-md-6
                            .news-block.mt-3.br-3
                                a(href="./gallerydetail.html")
                                    .wrap-img: img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=5" alt="Türkiye Kupasın’da 5.Tur Kuraları Çekildi")
                                    span.news-block-title.always-half.w-100: h5.m-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, odio!


            .col-4.col-xl-3.d-none.d-lg-block
                .news-side-wrapper
                    .news-side
                        a(href="./detail.html"): .news-side-block.mt-3
                            span.group-tag Reklam
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=6" alt="Kur Korumalı TL Vadeli Mevduat Hesabı")
                            span: h6.m-3.mb-2 Kur Korumalı TL Vadeli Mevduat Hesabı

                        a(href="./detail.html"): .news-side-block.mt-3
                            span.group-tag Spor
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=7" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                            span: h6.m-3.mb-2 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı
                        a(href="./detail.html"): .news-side-block.mt-3
                            span.group-tag Spor
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=8" alt="Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı")
                            span: h6.m-3.mb-2 Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı

                        a(href="./detail.html"): .news-side-block.mt-3
                            span.group-tag Spor
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=9" alt="Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı")
                            span: h6.m-3.mb-2 Dört büyüklerin sadece futbol şube borçları 21 milyar liraya dayandı
                        a(href="./detail.html"): .news-side-block.mt-3
                            span.group-tag Spor
                            .wrap-img 
                                img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://picsum.photos/1920/1080?v=10" alt="Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı")
                            span: h6.m-3.mb-2 Fenerbahçe UEFA kazancını 10 milyon avronun üzerine çıkardı