footer.footer.mt-4 
    .container 
        .row.border-bottom 
            .col
                a.logo(href="./").my-3.d-block
                    img(src="./assets/img/aksam-logo@2x.png" alt="Son Dakika Haberler - En Son Gazete Haberleri | GÜNEŞ" width="100px")
            .col.d-flex.justify-content-end.align-items-center
                a(href="#").footer-social.px-1: i.icon.icon-facebook
                a(href="#").footer-social.px-1: i.icon.icon-twitter
                a(href="#").footer-social.px-1: i.icon.icon-instagram
        .row 
            .col-6.col-md.mt-3.px-3 
                a.d-flex.align-items-center(href="./")
                    i.me-1.icon.icon-house-door-fill
                    | ANASAYFA

                a.d-flex.align-items-center(href="kunye.html")
                    i.me-1.icon.icon-file-text
                    | KÜNYE

                a.d-flex.align-items-center(href="https://www.aksam.com.tr/", target="_blank")
                    i.me-1.icon.icon-newspaper
                    | HABER

                a.d-flex.align-items-center(href="reklam.html")
                    i.me-1.icon.icon-badge-ad-fill
                    | REKLAM

                a.d-flex.align-items-center(href="https://www.turkmedya.com.tr/bilgitoplumuhizmetleri/tmedya")
                    i.me-1.icon.icon-file-text
                    | BİLGİ TOPLUMU HİZMETLERİ

                a.d-flex.align-items-center(href="https://www.turkmedya.com.tr/gunes#gunes_cerez", target="_blank")
                    i.me-1.icon.icon-file-text
                    | ÇEREZ POLİTİKASI

                a.d-flex.align-items-center(href="https://www.turkmedya.com.tr/gunes#gunes_gizlilik", target="_blank")
                    i.me-1.icon.icon-lock-fill
                    | GİZLİLİK POLİTİKASI
                    
                a.d-flex.align-items-center(href="https://www.gunes.com/hava-durumu-15-gunluk-meteoroloji-hava-durumu-raporu", target="_blank")
                    i.me-1.icon.icon-cloud
                    | HAVA DURUMU


                    
            .col-6.col-md.mt-3.px-3
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | SPOR
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | MAGAZİN
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | SİYASET
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | EKONOMİ
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | YAŞAM
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | BİLİM VE TEKNOLOJİ
            .col-6.col-md.mt-3.px-3 
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | DÜNYA
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | KÜLTÜR SANA
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | EĞİTİM
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | TELEVİZYON
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | TARİH
            .col-6.col-md.mt-3.px-3
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | CUMARTESİ
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | SİNEMA
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | KİTAP
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | TREND
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | SAĞLIK
                a.d-flex.align-items-center(href="#")
                    i.me-1.icon.icon-tag-fill
                    | MODA
    .footer-bottom
        .container
            .row
                .col.py-2.border-top.mt-2.text-center
                    i ©Copyright 2021 Sitemizde yayınlanan haberlerin telif hakları gazete ve haber kaynaklarına aittir. İzin alınmadan, kaynak gösterilerek dahi iktibas edilemez.