header.header
    .header-content.container.d-flex.flex-row.align-items-center
        .leftHeader.d-flex.align-items-center.order-1.order-lg-0
            a.logo(href="./").order-1.order-lg-0.mr-auto.pe-0.me-lg-4.justify-content-center.justify-content-xl-start.d-flex.col
                img(src="./assets/img/aksam-logo@2x.png" alt="Son Dakika Haberler - En Son Gazete Haberleri | GÜNEŞ" width="180px")
        
        .order-3.d-flex.justify-content-end.col.p-3.align-items-center.mobileIs
            
            .social-area.d-none.d-md-flex.justify-content-end.ms-3
                a(href="#" target="_blank").px-1: i.icon.icon-facebook
                a(href="#" target="_blank").px-1: i.icon.icon-twitter
                a(href="#" target="_blank").px-1: i.icon.icon-instagram
            //.search-area.ms-3.d-flex
                    .search-input
                        form(action="searchresult.html" id="searchForm" type="GET") 
                            input(type="search" name="searchprefix" placeholder="Arama" id="serachInput")
                    .search-btn.icon.icon-search
.bottomHeader 
    .container
        .bottomHeaderIn.d-flex.flex-row.align-items-center 
            .nav-hmb-menu.order-0.order-lg-1.d-flex.me-xl-2.flex-grow-1.flex-shrink-0.flex-xl-grow-0.p-3: i.icon.icon-hamburger
            ul.nav-menu.flex-row.flex-center.p-0.m-0.d-lg-flex.order-2
                li.nav-item: a.nav-link.px-1(href="./hotnews.html") EMOJİLERİM

.container
    .adverse-masthead.mx-auto.mt-3
        .wrap-img.wrap-masthead
            img(src="./assets/img/_delete/ads1.jpg" alt="adverse")
